import { Response } from 'express';

import responseError from '@src/core/domains/express/requests/responseError';
import { BaseRequest } from '@src/core/domains/express/types/BaseRequest.t';

export const #name# = (req: BaseRequest, res: Response) => {
    try {
        /**
         * Handle your action logic
         */

        res.send({ success: true })
    }
    catch (error) {
        if(error instanceof Error) {
            responseError(req, res, error)   
        }
    }
}