import BaseCommand from "@src/core/domains/console/base/BaseCommand";

export default class #name#Command extends BaseCommand {

    signature: string = 'command:#name#';

    execute = () => {
        console.log('#name#')
    }
}