import BaseCommand from "@src/core/domains/console/base/BaseCommand";

class #name# extends BaseCommand {

    signature: string = 'app:#name#';

    description = '<enter description>';

    keepProcessAlive = false;

    /**
     * Execute the command
     *
     * @returns {Promise<void>}
     */
    async execute() {

        /**
         * Your command logic
         */
    }

}

export default #name#