import Controller from "@src/core/domains/http/base/Controller";
import HttpContext from "@src/core/domains/http/context/HttpContext";

class #name# extends Controller {

    async invoke(context: HttpContext) {
        this.jsonResponse({}, 200)
    }

}

export default #name#;
