import Factory from "@src/core/base/Factory";
import { IModelAttributes } from "@src/core/domains/models/interfaces/IModel";

class #name# extends Factory {

    protected model = Model;

    getDefinition(): IModelAttributes | null {
        return {
            name: this.faker.word.words(2)
        }
    }

}

export default #name#;
