import EventListener from "@src/core/domains/events/services/EventListener";
import { IEventPayload } from "@src/core/domains/events/interfaces/IEventPayload";

export interface I#name#Payload extends IEventPayload {

}

export class #name#Listener extends EventListener<I#name#Payload> {
    
    handle = async (payload: I#name#Payload) => {
        
    }
}