import Middleware from "@src/core/domains/http/base/Middleware";
import HttpContext from "@src/core/domains/http/context/HttpContext";

class #name# extends Middleware {

    /**
     * Executes the validator middleware
     * @param context - The HTTP context
     */
    public async execute(context: HttpContext): Promise<void> {

        const request = context.getRequest()
        const response = context.getResponse()

        // Logic

        this.next();
    }

}

export default #name#;
