import BaseProvider from "@src/core/base/Provider";

export interface #name#Config {}

export default class #name# extends BaseProvider
{
    protected config: #name#Config = {}; // Important: Change to reference imported file from @src/config! 

    public async register(): Promise<void> {
        this.log('Registering #name#');
    }

    public async boot(): Promise<void> {
        this.log('Booting #name#');
    }
}