import Model from "@src/app/models/Model";
import Repository from "@src/core/base/Repository";

export default class #name# extends Repository<Model> {

    constructor() {
        super(Model)
    }

}