import Service from "@src/core/base/Service";

export interface I#name#Data {

}

export class #name# extends Service<I#name#Data> {

    constructor(config: I#name#Data) {
        super(config)
    }
    
}