import BaseCustomValidator from "@src/core/domains/validator/base/BaseCustomValidator";
import { IRulesObject } from "@src/core/domains/validator/interfaces/IRule";
import RequiredRule from "@src/core/domains/validator/rules/RequiredRule";

class #name# extends BaseCustomValidator {

    protected rules: IRulesObject = {
        id: [new RequiredRule()],
    }

    protected messages: Record<string, string> = {
        'id.required': 'The id is required.',
    }

}

export default #name#