<%- include('./partials/top.ejs') %>

<p>Hello, <%= typeof name === 'string' ? name : 'there!' %></p>

<p>This is the welcome email! Feel free to edit it as you see fit.</p>

<%- include('./partials/bottom.ejs') %>