<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>

<body>
    <% if(typeof locales?.appLogoUrl === 'string') { %>
    <div class="email-logo-container">
        <img src="<%= locales.appLogoUrl %>" alt="<% locales.appName %> logo" style="height: 150px; width: 150px; object-fit: cover; background-repeat: no-repeat;" />
    </div>
    <% } %>

    <div class="email-container">

        <% if(typeof title === 'string') { %>
            <div class="email-header">
                <h1><%= title %></h1>
            </div>
        <% } %>
        <div class="email-content">